.goBack{
    padding: 0 1.5rem;
    margin: 20px auto 0;
    width: 75%;
    a{
        display: flex;
        align-items: center;
        max-width: max-content;
        color: rgb(63, 59, 59);
        font-size: 22px;
        cursor: pointer;
        &:hover{
            color: rgb(4, 122, 233);
        }
        p{
            padding-top: 2px;
            margin-left: 5px;
        }
    }
    @media screen and (max-width: 1060px) {
        width: 92%;
    }
}
.main{
    width: 75%;
    margin: 0 auto;
    padding: .7rem 1rem;
    display: grid;
    grid-template-columns: 70% 30%;
    font-family: 'Poppins', sans-serif;
    .heading{
        font-weight: 500;
        font-size: 26px;
    }
    .left, .right{
        margin: 1rem 10px 0 10px;
        border-radius: 4px;
        border: 0.0625rem solid #e0e0e0;
        padding: 1rem;
    }
    .left{
        .inputField{
            margin-top: 1rem;
            position: relative;
            display: flex;
            border: 0.1rem solid #d6d4d4;
            border-radius: 3px;
            height: 45px;
            .inputLabel{
                position: absolute;
                color: gray;
                font-size: 17px;
                top: 6px;
                padding: 0 5px;
                background: white;
                left: 10px;
                cursor: text;
                transition: all .2s;
            }
            .inputBox{
                font-size: 17px;
                border: none;
                outline: none;
                padding: 0 1rem;
                width: 100%;
                &:not(:placeholder-shown)~.inputLabel{
                    top: -14px; // 13
                    font-size: 16px; // 15
                    color: #1cc7f1;
                }
            }
            &:focus-within, &:hover{
                border-color: #1cc7f1;
            }
            &:focus-within .inputLabel{
                top: -14px; // 13
                font-size: 16px; // 15
            }
        }
        .uploadFile{
            margin: 1rem 0 0 0; // 1px left
            p{
                display: flex;
                cursor: pointer;
                align-items: center;
                width: max-content;
                padding: 0 10px;
                transition: .5s;
                margin-bottom: 5px;
                span{
                    padding-top: 8px;
                    margin-left: 5px;
                    color: #3a3939;
                    font-size: 25px;
                    transition: .3s;
                }
                &:hover{
                    border-radius: 5px;
                    background-color: rgba(61, 61, 61, 0.05);
                }
            }
        }
    }
    .right{
        height: max-content !important;
        .marks{
            margin: .5rem 0 1.5rem;
            display: flex;
            align-items: flex-end;
            label{
                margin-right: 10px;
                font-weight: 600;
                font-size: 18px;
            }
            input{
                border: 0.1rem solid #d6d4d4;
                border-radius: 3px;
                padding: 5px 5px;
                max-width: 20%;
                @media screen and (max-width: 1060px) {
                    width: 9%;
                }
                @media screen and (max-width: 625px) {
                    width: 15%;
                }
            }
        }
    }
    .btn{
        display: flex;
        font-size: 15px;
        align-items: center;
        cursor: pointer;
        color: #3c4043;
        border: 0.0625rem solid #e0e0e0;
        padding-block: 4px;
        justify-content: center;
        transition: 0.2s;
        &:hover{
            background-color: #a59f9f1e;
        }
        span{
            margin-right: 5px;
            font-size: 18px;
            margin-top: 4px;
        }
    }
    .btn2{
        width: 100%;
        margin-top: 1rem;
        color: #fff;
        background-color: #011603;
        margin-bottom: 5px;
        padding-block: 10px;
        transition: .5s;
        &:hover{
            color: #011603;
            border-color: #011603;
            background-color: #fff;
        }
    }
    input[type=file]{
        display: none;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none !important; 
        margin: 0 !important; 
    }
    @media screen and (max-width: 1060px) {
        width: 90%;
        display: flex;
        flex-direction: column;
        .right, .left{
            width: 100%;
            margin: 10px 0;
        }
    }
}
