.nothing{
    display: flex;
    width: 100vw;
    min-height: 80vh;
    padding-block: 10px;
    align-items: center;
    justify-content: center;
    .container{
        background-color: white;
        height: 350px;
        width: 400px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid rgba(179, 164, 164, 0.315);
        p{
            font-size: 20px;
            font-weight: 400;
            display: flex;
            .icon{
                margin: 0 7px;
                font-size: 25px;
                background-color: rgba(211, 211, 211, 0.473);
                border-radius: 50%;
            }
        }
    }
}
.main{
    background-color: rgba(233, 231, 231, 0.233);
    // height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    .container{
        // background-color: #2196F3;
        margin: 20px 10px;
        .allClasses{
            display: flex;
            flex-wrap: wrap;
            .eachClass{
                border: .13rem solid rgba(153, 152, 150, 0.667);
                cursor: pointer;
                display: flex;
                flex-direction: column;
                height: 225px;
                width: 225px;
                font-size: 30px;
                margin: 10px 15px;
                border-radius: 0.25rem;
                overflow: hidden;
                .top{
                    background-color: green;
                    padding: 3px;
                    height: 35%;
                    h3{
                        font-weight: 400;
                        font-size: 32px;
                    }
                }
                .bottom{
                    background-color: pink;
                    height: 65%;
                    padding-block: 10px;
                }
            }
        }
    }
}