.main{
    background-color: rgba(248, 242, 242, 0.26);
    min-height: 90vh;
    padding: .7rem 1rem;
    .noClass{
        height: 50vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-weight: 700;
            font-size: 25px;
            color: rgb(63, 3, 3);
            padding-block: 10px;
        }
        p{
            color: green;
            font-size: 25px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            color: rgb(143, 3, 3);
            font-size: 65px;
        }
    }
    .top{
        background-color: white;
        border: 0.0625rem solid #e0e0e0;
        border-radius: 5px;
        .classInfo{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 2em;
            overflow: hidden;
            position: relative;
            h1{
                font-size: 35px;
                font-weight: 600;
                padding-bottom: 5px;
            }
            h3{
                font-size: 18px;
            }
            h2{
                padding-top: 2.5rem;
                font-size: 18px;
            }
            .settingIcon{
                position: absolute;
                right: 0;
                top: 0;
                color: rgb(61, 53, 53);
                margin: 20px 15px;
                font-size: 25px;
                cursor: pointer;
                &:hover{
                    color: rgba(61, 53, 53, 0.651);
                }
            }
        }
    }
    .bottom{
        display: grid;
        grid-template-columns: 35% 65%;
        .left, .right{
            border-radius: 4px;
            background-color: white;
            margin-top: 1.5rem;
            padding: 1rem;
            height: 40vh;
            border: 0.0625rem solid #e0e0e0;
        }
        .left{
            margin-right: 8px;
            padding-block: 20px 30px;
            height: max-content !important;
            h4{
                font-size: 15.5px;
                font-weight: 500;
                padding-bottom: 25px;
                color: rgb(63, 60, 60);
            }
            p{
                font-size: 14px;
                color: rgb(100, 94, 94);
            }
            .btn{
                margin-top: 1rem;
                font-size: 15px;
                cursor: pointer;
                color: rgb(100, 94, 94);
                border: 0.0625rem solid #e0e0e0;
                padding: 5px 10px;
                background-color: transparent;
                &:hover{
                    border: 0.0625rem solid #a59f9f;
                }
            }
        }
        .right{
            margin-left: 8px;
        }
    }
}