.main{
    width: 70%;
    margin: 0 auto;
    padding: .7rem 1rem;
    .noClass{
        height: 50vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h2{
            font-weight: 700;
            font-size: 25px;
            color: rgb(63, 3, 3);
            padding-block: 10px;
        }
        p{
            color: green;
            font-size: 25px;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            color: rgb(143, 3, 3);
            font-size: 65px;
        }
    }
    .top{
        background-color: white;
        border: 0.0625rem solid #e0e0e0;
        border-radius: 5px;
        .classInfo{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 2em;
            overflow: hidden;
            position: relative;
            h1{
                font-size: 35px;
                font-weight: 600;
                padding-bottom: 5px;
            }
            h3{
                font-size: 18px;
            }
            h2{
                padding-top: 2.5rem;
                font-size: 18px;
            }
            .settingIcon{
                position: absolute;
                right: 0;
                top: 0;
                color: rgb(61, 53, 53);
                margin: 20px 15px;
                font-size: 25px;
                cursor: pointer;
                &:hover{
                    color: rgba(61, 53, 53, 0.726);
                }
            }
        }
    }
    .bottom{
        display: grid;
        grid-template-columns: 30% 70%;
        .btn{
            margin-top: 1rem;
            font-size: 15px;
            cursor: pointer;
            color: rgb(100, 94, 94);
            border: 0.0625rem solid #e0e0e0;
            padding: 5px 10px;
            background-color: transparent;
            &:hover{
                border: 0.0625rem solid #a59f9f;
            }
        }
        .left{
            margin-top: 1.5rem;
            border-radius: 4px;
            background-color: white;
            padding: 1rem;
            border: 0.0625rem solid #e0e0e0;
            margin-right: 8px;
            padding-block: 20px 30px;
            height: max-content !important;
            h4{
                font-size: 15.5px;
                font-weight: 500;
                padding-bottom: 25px;
                color: rgb(63, 60, 60);
            }
            p{
                font-size: 14px;
                color: rgb(100, 94, 94);
            }
        }
        .right{
            margin-top: 1.5rem;
            border-radius: 4px;
            margin-left: 8px;
            .postInput{
                display: flex;
                flex-direction: column;
                input{
                    height: 50px;
                    padding: 0 8px;
                    font-size: 17px;
                    width: 100%;
                    border-radius: 4px;
                    border: 0.1rem solid #d6d4d4;
                    &:focus{
                        background-color: #f1f1f162;
                    }
                }
                .btn{
                    display: none;
                    font-size: 17px;
                    width: max-content;
                    margin-left: auto;
                    padding-block: 8px;
                    border-radius: 4px;
                    &:hover{
                        background-color: rgba(220, 220, 220, 0.308);
                    }
                }
                input:not(:placeholder-shown) ~ .btn{
                    display: block;
                }
            }
            .Activity{
                height: 30vh;
                margin-top: .9rem;
                background-color: white;
                border-radius: 4px;
                border: 0.1rem solid #d6d4d4;
                display: flex;
                p{
                    font-size: 20px;
                    margin: auto auto;
                }
            }
        }
    }
    @media screen and (max-width: 900px) {
        width: 100%;
    }
    @media screen and (max-width: 600px) {
        .bottom{
            display: flex;
            flex-direction: column;
            .right, .left{
                width: 100%;
                margin: 10px 0;
            }
        }
    }
}